/* Put your CSS here */
.ember-application {
    margin: 60px;
}

.navbar-toggle {
    position: relative;
    float: right;   
    margin-bottom: 50px !important;
}

video#bgvid { 

position: fixed; right: 0; bottom: 0;



width: 100%; height: 100%; z-index: -100;

background: black ;

background-size: cover; 

}



@media (max-width: 1000px){

html { background: url(backgroundpic.jpg) #000 no-repeat center center fixed; }

#bgvid { display: none; }

}




video#bgvid { transition: 1s opacity; }
.stopfade { opacity: .5; }



