/* Put your CSS here */
.ember-application {
    margin: 60px;
}



video#bgvid { 

 position: absolute;
  bottom: 0px; 
  right: 0px;  
  height: 100%; 
  z-index: -1000; 
  overflow: hidden

}



@media (max-width: 1000px){

html { background: url(backgroundpic.jpg) #000 no-repeat center center fixed; }

#bgvid { display: none; }

}




video#bgvid { transition: 1s opacity; }
.stopfade { opacity: .5; }



